@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h1 id="title">@ViewBag.Title</h1>
    <h3>@ViewBag.Message</h3>

    <address>
        WhiteUmbrella<br />
        Maligaya, Bagong-Silang<br />
        <abbr title="Phone">P:</abbr>
        0991 303 2116 / 0919 488 4179
    </address>

    <address>
        <strong>Support:</strong>   <a href="https://localhost:44390/">josephorquita@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="https://localhost:44390/Home/About">kescanillas@gmail.com</a>
    </address>
</main>